In [45]:
import pgeocode 
import pandas as pd
import numpy as np

In [5]:
csv = 'maintable.csv'
df = pd.read_csv(csv)
df

,zipcode,city,county,population,medianprice,activelistingcount,avgprice,totalrentals,ratio
0,94015,Daly City,San Mateo County,65041,998000.0,6,2690.89,84,30.91
1,75243,Dallas,Dallas County,68308,357000.0,33,1985.17,357,14.99
2,11372,Jackson Heights,Queens County,62854,395000.0,307,2840.75,104,11.59
3,78254,San Antonio,Bexar County,59107,424698.5,211,1553.66,330,22.78
4,90042,Los Angeles,Los Angeles County,63193,899499.5,45,3922.36,159,19.11
...,...,...,...,...,...,...,...,...,...
141,33027,Hollywood,Broward County,60679,282500.0,111,3113.45,440,7.56
142,30281,Stockbridge,Henry County,68456,300000.0,110,1816.39,253,13.76
143,75227,Dallas,Dallas County,59924,287500.0,18,1249.43,121,19.18
144,11435,Jamaica,Queens County,59605,299000.0,115,2799.21,178,8.90
145,10469,Bronx,Bronx County,72384,579500.0,45,2183.18,83,22.12

In [54]:
# zipcode = df.loc[:,['zipcode']]
zipcode = pd.array(df['zipcode']).astype(str)
zipcode

array(['94015', '75243', '11372', '78254', '90042', '23452', '77494',
       '75040', '95624', '98682', '92592', '85122', '11213', '85225',
       '19134', '33142', '95076', '92115', '30127', '20019', '78250',
       '94544', '28027', '20874', '93033', '11223', '20011', '48197',
       '79936', '30044', '60647', '93535', '60016', '11229', '33023',
       '77379', '89108', '29072', '27610', '33157', '94806', '10312',
       '91331', '92376', '60657', '77479', '85204', '10457', '93065',
       '32765', '11385', '75070', '23464', '78521', '94587', '10032',
       '95035', '94501', '94112', '11746', '92345', '27858', '33025',
       '11375', '91744', '60628', '60651', '10452', '91950', '92630',
       '33511', '60632', '78577', '42101', '94122', '93306', '76179',
       '76137', '30043', '60634', '77433', '21122', '11218', '87114',
       '28314', '92801', '77449', '27587', '11691', '32210', '90250',
       '93312', '85326', '63376', '94538', '29445', '19143', '11234',
       '93274', '78613', '77083', '75002', '33411', '92804', '90006',
       '93230', '28173', '11432', '47906', '76028', '60639', '78245',
       '11210', '85041', '80134', '72401', '23322', '93905', '30906',
       '78666', '79912', '78641', '21234', '93536', '95355', '90003',
       '92507', '28078', '92563', '90066', '75043', '77373', '92703',
       '99654', '90001', '92114', '95630', '60625', '33125', '85364',
       '74012', '33027', '30281', '75227', '11435', '10469'], dtype='<U21')

In [57]:
nomi = pgeocode.Nominatim('us')
# place = nomi.query_postal_code('19146')
# lat = place['latitude']
# print(lat)
latitudes = []
longitudes = []
for i in zipcode:
    place = nomi.query_postal_code(i)
    latitudes.append(place['latitude'])
    longitudes.append(place['longitude'])
df['latitudes'] = latitudes
df['longitudes'] = longitudes
df.to_csv('main_table_latslongs.csv')

,zipcode,city,county,population,medianprice,activelistingcount,avgprice,totalrentals,ratio,latitudes,longitudes
0,94015,Daly City,San Mateo County,65041,998000.0,6,2690.89,84,30.91,37.6787,-122.4780
1,75243,Dallas,Dallas County,68308,357000.0,33,1985.17,357,14.99,32.9103,-96.7285
2,11372,Jackson Heights,Queens County,62854,395000.0,307,2840.75,104,11.59,40.7513,-73.8830
3,78254,San Antonio,Bexar County,59107,424698.5,211,1553.66,330,22.78,29.5551,-98.7442
4,90042,Los Angeles,Los Angeles County,63193,899499.5,45,3922.36,159,19.11,34.1145,-118.1929
...,...,...,...,...,...,...,...,...,...,...,...
141,33027,Hollywood,Broward County,60679,282500.0,111,3113.45,440,7.56,25.9974,-80.3248
142,30281,Stockbridge,Henry County,68456,300000.0,110,1816.39,253,13.76,33.5633,-84.2165
143,75227,Dallas,Dallas County,59924,287500.0,18,1249.43,121,19.18,32.7672,-96.6836
144,11435,Jamaica,Queens County,59605,299000.0,115,2799.21,178,8.90,40.7029,-73.8111
145,10469,Bronx,Bronx County,72384,579500.0,45,2183.18,83,22.12,40.8702,-73.8495